<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

  <title>Add New Users</title>
</head>
<body class="container">
  <div class="pt-5 w-50 mx-auto">
    <form action="/users/new" method="POST">
      <div class="row mb-3">
        <div class="col-4 text-right"><span>First Name :</span></div>
        <div class="col"><input type="text" class="form-control" name="firstname" placeholder="Firstname"></div>
      </div>
      <div class="row mb-3">
        <div class="col-4 text-right">Last Name :</div>
        <div class="col"><input type="text" class="form-control" name="lastname" placeholder="Lastname"></div>
      </div>
      <div class="row mb-3">
        <div class="col-4 text-right">Nickname :</div>
        <div class="col"><input type="text" class="form-control" name="nickname" placeholder="Nickname"></div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </div>
     </form>
  </div>
  <!-- Optional JavaScript -->
  <!-- Popper.js first, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

</body>
</html>